.chartHeader {
  display: flex;
  justify-content: space-between;

  .sideContent {
    display: flex;
    justify-content: space-around;

    .searchInput {
      margin-right: 30px;
    }
  }
}

.chart-wrapper {

}

.chart-row {
  @apply flex justify-between flex-wrap;
  .chart-item {
    flex-grow: 1;
    margin-right: 10px;
  }
}

.options {
  display: none;
}

.options-m {
  @apply flex justify-between;
}

.options,
.options-m {
  div {
    @apply flex;
  }
}

@media (min-width: 640px) {
  .options-m {
    display: none;
  }

  .options {
    @apply flex justify-end;
  }
}