.chartHeader {
  display: flex;
  justify-content: space-between;

  .sideContent {
    display: flex;
    justify-content: space-around;

    .searchInput {
      margin-right: 30px;
    }
  }
}

.chart-wrapper {
  padding-left: 15px;
}

.chart-row {
  @apply flex justify-between flex-wrap;
  .chart-item {
    flex-grow: 1;
    margin-right: 25px;
    margin-bottom: 25px;
    width: 31%;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.options {
  display: none;
}

.options-m {
  @apply flex justify-between;
}

.options,
.options-m {
  div {
    @apply flex;
  }
}

@media (min-width: 640px) {
  .options-m {
    display: none;
  }

  .options {
    @apply flex justify-end;
  }
}