.filters-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 15px 0px;
  z-index: 1;
  background-color: #ffffff;

  .filters-input {
    flex-basis: 20%;
  }

  .switch-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 150px;

    .radio-switch {
      display: none;

      &:checked ~ label {
        border-color: #F47738;
        color: #F47738;
      }
    }

    label {
      border: 1px solid;
      padding: 6px;
      border-color: rgba(70, 70, 70, var(--border-opacity));
    }
  }
}

@media (min-width: 640px) {
  .filters-wrapper {
    display: flex;
  }
}